[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cachetools = "*"
certifi = "*"
cffi = "*"
chardet = "*"
idna = "*"
libcst = "*"
mypy-extensions = "*"
numpy = "*"
pandas = "*"
proto-plus = "*"
protobuf = "*"
pyarrow = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycparser = "*"
pyparsing = "*"
python-dateutil = "*"
pytz = "*"
requests = "*"
rsa = "*"
six = "*"
typing-extensions = "*"
typing-inspect = "*"
urllib3 = "*"
PyYAML = "*"
django = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.10"
